* {
  box-sizing: border-box;
}

body {
  background-color: transparent;
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-container {
  flex-grow: 1;
  overflow-y: auto;
  border: 1px solid var(--vscode-input-border);
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 15px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.message.user1 {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  text-align: left;
  border: 1px solid var(--vscode-input-border);
  border-bottom-left-radius: 0;
}

.message.user2 {
  background-color: var(--vscode-button-secondaryBackground);
  color: var(--vscode-button-foreground);
  text-align: right;
  border: 1px solid var(--vscode-input-border);
  border-bottom-right-radius: 0;
}

/* Tail style comics for  user1 (on the left) */
.message.user1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px; /* Tail on the left */
  width: 0;
  height: 0;
  border-right: 11px solid var(--vscode-button-background);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* Tail style comics for user2 (on the right) */
.message.user2::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -10px; /* Tail on the right */
  width: 0;
  height: 0;
  border-left: 11px solid var(--vscode-button-secondaryBackground);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.input-container {
  display: flex; /* Use flexbox to align textarea and button */
  margin: 10px; /* Top margin to separate from chat-container */
}

.input-container textarea {
  flex-grow: 1;
  padding: 10px;
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid lightgray; /* Default light gray border */
  border-radius: 4px; /* Round the corners of the textarea */
  resize: none; /* Disable resizing of the textarea */
  overflow-y: auto; /* Enable vertical scrolling if necessary */
  margin-right: 10px; /* Right margin to separate from the button */
  margin-top: 5px; /* Top margin to separate from chat */
}

/* Change the border of the textarea when focused */
.input-container textarea:focus {
  border: 1px solid var(--vscode-focusBorder); /* Border color when focused */
  outline: none; /* Remove default outline */
}

.input-container button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px; /* Round the corners of the button */
  margin-top: 5px; /* Top margin to separate from the text */
}

.input-container button:disabled {
  background-color: lightgray; /* Background color for the disabled button */
  color: darkgray; /* Text color for the disabled button */
  cursor: not-allowed; /* Change cursor when disabled */
}

.input-container button:hover:not(:disabled) {
  background-color: var(--vscode-button-hoverBackground);
}

/* Style for the typing indicator */
.typing-indicator {
  display: none; /* Hide typing indicator by default */
  font-size: 14px;
  color: var(--vscode-editor-foreground);
  margin-top: 5px; /* Top margin to separate from input */
  text-align: right; /* Align to the right for user2's typing indicator */
}

/* Typing indicator */
.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--vscode-button-background);
  margin: 0 2px;
  animation: blink 1s infinite alternate; /* Blinking animation */
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.message-container {
  display: flex;
  margin-bottom: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: auto;
}

.message-content {
  max-width: 100%;
  word-wrap: break-word;
}

.username {
  font-weight: bold;
  margin-bottom: 5px;
}

#customMenu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
#customMenu div {
  padding: 8px 12px;
  cursor: pointer;
}
#customMenu div:hover {
  background-color: #f0f0f0;
}

.infoMessage {
  font-style: italic;
  text-align: center;
  margin-bottom: 12px;
}

.errorMessage {
  color: red;
  font-style: italic;
  text-align: center;
  margin-bottom: 12px;
}
